/* Global */

:root {

    /* color */

    --color-light-white: #eeeeee;
    --color-white: #ffffff;
    --color-light-green: #19a2a3;
    --color-semi-light-green: #008283;
    --color-green: #006365;
    --color-semi-dark-green: #004648;
    --color-dark-green: #002a2d;

    /* font-size */

    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* font-weight */

    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* size */

    --size-border-radius: 4px;

    /* animation */

    --animation-duration: 300ms;

}

/* Universal tags */

* {
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
    margin: 0px;
    cursor: default;
}
a {
    text-decoration: none;
    color: var(--color-white);
}
ul {
    list-style: none;
    padding-left: 0px;
}
button {
    background: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}
section {
    text-align: center;
    margin: auto;
}
.section__container {
    padding: 50px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* 일단 다른것들 상황 다 봐보고 */
/* .section__titleBox {
    margin-top: 150px;
} */

/* Typography */

h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-semi-dark-green);
    margin: 16px 0px;
}
h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-semi-dark-green);
    margin: 8px 0px;
}
h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    /* color: ; */
    margin: 8px 0px;
}
p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    /* color: ; */
    margin: 4px 0px;
}
span {
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color: var(--color-semi-dark-green);
    margin: 8px 0px;
}

/* navbar */

#navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-light-green);
    /* 홈 화면 만들고 수정 : color */
    color: var(--color-white);
    padding: 16px 0px;
    /* transition: ; */
    z-index: 1;
}
#navbar.navbar--dark {
    background-color: var(--color-light-green);
    padding: 16px 0px;
}
.navbar__logo {
    width: 30%;
    font-size: var(--font-medium);
    font-weight: var(--weight-smei-bold);
}
.navbar__menu {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar__menu__item {
    padding: 8px 12px;
    margin: 0px 16px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: var(--size-border-radius);
    font-size: var(--font-regular);
}
.navbar__menu__item:hover {
    border: 1px solid var(--color-white);
    background-color: var(--color-semi-light-green);
}
.navbar__btns {
    width: 30%;
}
.navbar__btn__login,
.navbar__btn__signup {
    padding: 8px 12px;
    margin: 0px 12px;
    font-size: var(--font-regular);
    color: var(--color-light-green);
    background-color: var(--color-white);
    border: 1px solid transparent;
    border-radius: var(--size-border-radius);
}
.navbar__btn__signup:hover {
    opacity: .8;
}
.navbar__btn__login {
    color: var(--color-white);
    background-color: transparent;
}
.navbar__btn__login:hover {
    border: 1px solid var(--color-white);
    background-color: var(--color-semi-light-green);
}
.navbar__toggle__btn {
    position: absolute;
    right: 32px;
    top: 22px;
    color: var(--color-white);
    font-size: var(--font-medium);
    display: none;
}

/* header */

.header__tit {
    margin-top: 320px;
    margin-bottom: 168px;
}
.president__recos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60vh;
}
.reco__item {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 50px 50px rgba(0, 0, 0, .4);
    margin-bottom: 168px;
}
.item__cover {
    width: 80%;
    height: 60%;
    background-image: url(../img/cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: var(--animation-duration) ease-in-out;
    cursor: pointer;
    margin-bottom: 24px;
}
.item__cover:hover {
    transform: scale(1.1, 1.1);
}
.item__des {
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.des__text {
    text-align: start;
}
.item__tit {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}
.item__author {
    font-size: var(--font-regular);
}
.des__like i {
    font-size: var(--font-medium);
    font-weight: var(--weight-regular);
    color: var(--color-semi-dark-green);
    cursor: pointer;
}
.more__recos {
    margin-top: 24px;
    background: rgb(25,162,163);
    background: linear-gradient(90deg, rgba(25,162,163,1) 63%, rgba(0,99,101,1) 80%, rgba(0,42,45,1) 100%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 264px;
    height: 48px;
    font-size: 24px;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}
.btn__value {
    color: var(--color-light-white);
}
.more__recos:hover {
    opacity: 0.7;
}

/* 768px screen width */

@media screen and (max-width: 768px) {
    
    /* navbar */

    .navbar__toggle__btn {
        display: block;
        cursor: pointer;
        right: 28px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-color: var(--color-light-green);
    }
    .navbar__logo {
        display: flex;
        justify-content: flex-start;
        margin-left: 16px;
    }
    .navbar__menu,
    .navbar__btns {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
        display: none;
    }
    .navbar__menu__item:hover {
        width: 96%;
    }
    .navbar__menu.active,
    .navbar__btns.active {
        display: flex;
    }

}