<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GLO; | Login</title>
    <link rel="shortcut icon" href="../img/logo1.PNG">
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    
    <div id="login">

        <div class="login__left">
            <h1 class="left__tit">
                GLO;
            </h1>
            <span class="left__span1">"GLO GLO GLO GLO GLO GLO GLO GLO GLO GLO GLO GLO GLO GLO..."</span>
            <span class="left__span2">"GLO GLO GLO GLO GLO GLO GLO GLO GLO GLO GLO GLO GLO GLO..."</span>
        </div>

        <div class="login__right">

            <div class="right__responsive">
                <h1>GLO;</h1>
            </div>
            <form action="">
                <h1 class="right__login">Login to GLO;</h1>
                <div class="form">
                    <input type="text" placeholder="ID" class="input__id">
                    <input type="password" placeholder="Password" class="input__pw">
                    <input type="submit" value="Log in" class="input__lg">
                    <button class="kakao__lg"><i class="fas fa-comment"></i>&nbsp;카카오계정으로 시작하기</button>
                </div>
                <span class="right__span">If you don't have ID? Please, <a class="go" href="signup.html">Sign up</a></span>
            </form>
        </div>

    </div>

    <script src="https://kit.fontawesome.com/6478f529f2.js" crossorigin="anonymous"></script>

</body>
</html>