<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GLO; | main</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="shortcut icon" href="../img/logo1.PNG">
</head>
<body>

    <!-- navbar -->
    <section id="navbar">

        <div class="navbar__logo">
            <a href="#">GLO;</a>
        </div>

        <ul class="navbar__menu">
            <li class="navbar__menu__item">챗봇</li>
            <li class="navbar__menu__item">조사</li>
            <li class="navbar__menu__item">추천</li>
        </ul>

        <div class="navbar__btns">
            <button class="navbar__btn__login">Login</button>
            <button class="navbar__btn__signup">Sign up</button>
        </div>

        <button class="navbar__toggle__btn">
            <i class="fas fa-bars"></i>
        </button>

        <script src="https://kit.fontawesome.com/6478f529f2.js" crossorigin="anonymous"></script>

    </section>

    <script src="../js/navbar.js"></script>

</body>
</html>