<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GLO; | My page</title>
    <link rel="stylesheet" href="../css/mypage.css">
    <link rel="shortcut icon" href="../img/logo1.PNG">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap" rel="stylesheet">
</head>
<body>
    
    <!-- navbar -->
    <section id="navbar">
        <div class="navbar__logo">
            <a href="#">GLO;</a>
        </div>

        <ul class="navbar__menu">
            <li class="navbar__menu__item">챗봇</li>
            <li class="navbar__menu__item">조사</li>
            <li class="navbar__menu__item">추천</li>
        </ul>

        <div class="navbar__btns">
            <button class="navbar__btn__login">
                <a href="login.html">Login</a>
            </button>
            <button class="navbar__btn__signup">Sign up</button>
        </div>

        <button class="navbar__toggle__btn">
            <i class="fas fa-bars"></i>
        </button>

    </section>

    <!-- profile -->
    <section id="profile">

        <div class="section__container">
            
            <div class="profile__container">
                <div class="profile__picture"></div>
                <!-- <p class="profile__arrow__box">프로필 사진 수정</p> -->
                <h1 class="profile__id">isco</h1>
            </div>

        </div>

    </section>

    <script src="https://kit.fontawesome.com/6478f529f2.js" crossorigin="anonymous"></script>

</body>
</html>