<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GLO; | Chat</title>
    <link rel="stylesheet" href="../css/chat.css">
    <link rel="shortcut icon" href="../img/logo1.PNG">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap" rel="stylesheet">
</head>
<body>
    
     <!-- navbar -->
    <section id="navbar">

        <div class="navbar__logo">
            <a href="main.html">GLO;</a>
        </div>

        <ul class="navbar__menu">
            <li class="navbar__menu__item">
                <a href="chat.html">GLO;와 대화</a>
            </li>
            <li class="navbar__menu__item">
                <a href="survey.html">우울증 진단</a>
            </li>
            <li class="navbar__menu__item">
                <a href="reco.html">기분 전환</a>
            </li>
        </ul>

        <div class="navbar__btns">
            <button class="navbar__btn__login">
                <a href="login.html">Login</a>
            </button>
            <button class="navbar__btn__signup">
                <a class="signup__btn" href="signup.html">Sign up</a>
            </button>
        </div>

        <button class="navbar__toggle__btn">
            <i class="fas fa-bars"></i>
        </button>

    </section>

    <!-- chat -->
    <section id="chat">

        <div class="section__container">

            <h1 class="chat__title">
                GLO; 와 대화를 시작해보세요
            </h1>

            

        </div>

    </section>

    <script src="../js/navbar.js" defer></script>
    <script src="https://kit.fontawesome.com/6478f529f2.js" crossorigin="anonymous"></script>

</body>
</html>