<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GLO; | Login</title>
    <link rel="shortcut icon" href="../img/logo1.PNG">
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    
    <div id="login">

        <div class="login__right">

            <div class="right__responsive">
                <h1><a class="main" href="main.html">GLO;</a></h1>
            </div>
            <form action="">
                <h1 class="right__login">Login to GLO;</h1>
                <div class="form">
                    <input type="text" placeholder="ID" class="input__id">
                    <input type="password" placeholder="Password" class="input__pw">
                    <input type="submit" value="Log in" class="input__lg" onclick="login();return false;">
                    <button class="kakao__lg"><i class="fas fa-comment"></i>&nbsp;카카오계정으로 로그인</button>
                </div>
                <span class="right__span1">아이디가 없으시면, <a class="go" href="signup.html">Sign up</a></span>
                <span class="right__span2">관리자 회원가입, <a class="go" href="mgsignup.html">Sign up</a></span>
            </form>
        </div>

    </div>


    <script src="https://kit.fontawesome.com/6478f529f2.js" crossorigin="anonymous"></script>

    <script>
        function login(){
            var id = document.querySelector('.input__id')
            var pw = document.querySelector('.input__pw')

            // if(id.value == "" || pw.value == ""){
            //     alert("로그인 불가")
            // }else{
            //     location.href = 'main.html';
                
            //     //window.open('main.html');
            // }

            post_to_url("http://172.30.1.26:3002/login_w", {'id': id.value,'pw' : pw.value});

            function post_to_url(path, params, method) {
                    method = method || "post"; // Set method to post by default, if not specified.
                    // The rest of this code assumes you are not using a library.
                    // It can be made less wordy if you use one.
                    var form = document.createElement("form");
                    form.setAttribute("method", method);
                    form.setAttribute("action", path);
                    for(var key in params) {
                        var hiddenField = document.createElement("input");
                        hiddenField.setAttribute("type", "hidden");
                        hiddenField.setAttribute("name", key);
                        hiddenField.setAttribute("value", params[key]);
                        form.appendChild(hiddenField);
                    }
                    document.body.appendChild(form);
                    form.submit();
                    // location.href = 'login.html';
                
                
                
                
                }
            
        }
    </script>

</body>
</html>