<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GLO: | Sign up</title>
    <link rel="shortcut icon" href="../img/logo1.PNG">
    <link rel="stylesheet" href="../css/mgsignup.css">
</head>
<body>
    
    <div id="signup">

        <div class="signup__right">

            <div class="right__responsive">
                <h1><a class="main" href="main.html">GLO;</a></h1>
            </div>
            
            <form class="signup__form">
                <h1 class="right__signup">Sign up to GLO;</h1>
                <div class="form__input">
                    <input type="text" placeholder="ID" class="input__text" required>
                    <input type="password" placeholder="Password" class="input__text" required>
                    <input type="text" placeholder="전공" class="input__text" required>
                    <input type="text" placeholder="근무지" class="input__text" required>
                </div>
                <input class="submit__btn" type="submit" value="관리자가입완료">
                <span class="right__span">아이디가 있으시면, <a class="go" href="login.html">Login</a></span>
            </form>

        </div>

    </div>

    <script src="https://kit.fontawesome.com/6478f529f2.js" crossorigin="anonymous"></script>

</body>
</html>