<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GLO; | Recommendation</title>
    <link rel="stylesheet" href="../css/reco.css">
    <link rel="shortcut icon" href="../img/logo1.PNG">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap" rel="stylesheet">
</head>
<body>
    
    <!-- navbar -->
    <section id="navbar">
        <div class="navbar__logo">
            <a href="main.html">GLO;</a>
        </div>

        <ul class="navbar__menu">
            <li class="navbar__menu__item">
                <a href="chat.html">GLO;와 대화</a>
            </li>
            <li class="navbar__menu__item">
                <a href="survey.html">우울증 진단</a>
            </li>
            <li class="navbar__menu__item">
                <a href="reco.html">기분 전환</a>
            </li>
        </ul>

        <div class="navbar__btns">
            <button class="navbar__btn__login">
                <a href="login.html">Login</a>
            </button>
            <button class="navbar__btn__signup">
                <a class="signup__btn" href="signup.html">Sign up</a>
            </button>
        </div>

        <button class="navbar__toggle__btn">
            <i class="fas fa-bars"></i>
        </button>

    </section>

    <!-- header -->
    <section id="header">

        <div class="section__container">

            <h1 class="header__tit">isco 님, 이런 추천 어떠세요?</h1>

            <div class="president__recos">
                <div class="reco__item">
                    <div class="item__cover"></div>
                    <div class="item__des">
                        <div class="des__text">
                            <span class="item__tit">Parashute</span><br>
                            <span class="item__author">John K</span>
                        </div>
                        <div class="des__like">
                            <i class="far fa-heart"></i>
                        </div>
                    </div>
                </div>
                <div class="reco__item">
                    <div class="item__cover"></div>
                    <div class="item__des">
                        <div class="des__text">
                            <span class="item__tit">Parashute</span><br>
                            <span class="item__author">John K</span>
                        </div>
                        <div class="des__like">
                            <i class="far fa-heart"></i>
                        </div>
                    </div>
                </div>
            </div>

            <button class="more__recos" data-link="#category">
                <span class="btn__value" data-link="#category">추천 더 보기</span>
            </button>

        </div>

    </section>

    <!-- category -->
    <section id="category">

        <div class="section__container">

            <div class="reco__menu">
                <ul class="menu__lists">
                    <li class="list">
                        <a href="#"><i class="far fa-play-circle"></i>&nbsp;영상</a>
                    </li>
                    <li class="list">
                        <a href="#"><i class="fas fa-music"></i>&nbsp;음악</a>
                    </li>
                </ul>
            </div>

            <!-- 영상 -->
            <div class="slide__title__box">
                <h3 class="slide__title">나약해지지 마 동기부여</h3>
            </div>
            <div class="slide__box">
                <i class="fas fa-chevron-left"></i>
                <div class="slide__items">
                    <div class="slide__content"></div>
                    <div class="slide__content"></div>
                    <div class="slide__content"></div>
                    <div class="slide__content"></div>
                </div>
                <i class="fas fa-chevron-right"></i>
            </div>

            <div class="slide__title__box">
                <h3 class="slide__title">귀염뽀짝 털복숭이들</h3>
            </div>
            <div class="slide__box">
                <i class="fas fa-chevron-left"></i>
                <div class="slide__items">
                    <div class="slide__content"></div>
                    <div class="slide__content"></div>
                    <div class="slide__content"></div>
                    <div class="slide__content"></div>
                </div>
                <i class="fas fa-chevron-right"></i>
            </div>

            <div class="slide__title__box">
                <h3 class="slide__title">보고 안 웃을 수 없는 밈</h3>
            </div>
            <div class="slide__box">
                <i class="fas fa-chevron-left"></i>
                <div class="slide__items">
                    <div class="slide__content"></div>
                    <div class="slide__content"></div>
                    <div class="slide__content"></div>
                    <div class="slide__content"></div>
                </div>
                <i class="fas fa-chevron-right"></i>
            </div>

            <div class="slide__title__box">
                <h3 class="slide__title">배꼽 빠지도록 웃긴</h3>
            </div>
            <div class="slide__box">
                <i class="fas fa-chevron-left"></i>
                <div class="slide__items">
                    <div class="slide__content"></div>
                    <div class="slide__content"></div>
                    <div class="slide__content"></div>
                    <div class="slide__content"></div>
                </div>
                <i class="fas fa-chevron-right"></i>
            </div>

            <div class="slide__title__box">
                <h3 class="slide__title">전문가의 이야기</h3>
            </div>
            <div class="slide__box">
                <i class="fas fa-chevron-left"></i>
                <div class="slide__items">
                    <div class="slide__content"></div>
                    <div class="slide__content"></div>
                    <div class="slide__content"></div>
                    <div class="slide__content"></div>
                </div>
                <i class="fas fa-chevron-right"></i>
            </div>

            <!-- 음악 -->
            <div class="slide__title__box">
                <h3 class="slide__title">더 우울해지고 싶을 때</h3>
            </div>
            <div class="slide__box">
                <i class="fas fa-chevron-left"></i>
                <div class="slide__items">
                    <div class="slide__content"></div>
                    <div class="slide__content"></div>
                    <div class="slide__content"></div>
                    <div class="slide__content"></div>
                </div>
                <i class="fas fa-chevron-right"></i>
            </div>

            <div class="slide__title__box">
                <h3 class="slide__title">텐션 올리고 싶을 때</h3>
            </div>
            <div class="slide__box">
                <i class="fas fa-chevron-left"></i>
                <div class="slide__items">
                    <div class="slide__content"></div>
                    <div class="slide__content"></div>
                    <div class="slide__content"></div>
                    <div class="slide__content"></div>
                </div>
                <i class="fas fa-chevron-right"></i>
            </div>

            <div class="slide__title__box">
                <h3 class="slide__title">위로 받고 싶을 때</h3>
            </div>
            <div class="slide__box">
                <i class="fas fa-chevron-left"></i>
                <div class="slide__items">
                    <div class="slide__content"></div>
                    <div class="slide__content"></div>
                    <div class="slide__content"></div>
                    <div class="slide__content"></div>
                </div>
                <i class="fas fa-chevron-right"></i>
            </div>

            <div class="slide__title__box">
                <h3 class="slide__title">가사 없이 듣고 싶을 때</h3>
            </div>
            <div class="slide__box">
                <i class="fas fa-chevron-left"></i>
                <div class="slide__items">
                    <div class="slide__content"></div>
                    <div class="slide__content"></div>
                    <div class="slide__content"></div>
                    <div class="slide__content"></div>
                </div>
                <i class="fas fa-chevron-right"></i>
            </div>

            <div class="slide__title__box">
                <h3 class="slide__title">플레이리스트</h3>
            </div>
            <div class="slide__box">
                <i class="fas fa-chevron-left"></i>
                <div class="slide__items">
                    <div class="slide__content"></div>
                    <div class="slide__content"></div>
                    <div class="slide__content"></div>
                    <div class="slide__content"></div>
                </div>
                <i class="fas fa-chevron-right"></i>
            </div>

        </div>

    </section>

    <script src="../js/navbar.js" defer></script>
    <script src="../js/reco.js" defer></script>
    <script src="https://kit.fontawesome.com/6478f529f2.js" crossorigin="anonymous"></script>

</body>
</html>