<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GLO; | Survey</title>
    <!-- <link rel="stylesheet" href="https://unpkg.com/mvp.css"> -->
    <link rel="stylesheet" href="../css/survey.css">
    <link rel="shortcut icon" href="../img/logo1.PNG">
</head>
<body>

    <!-- navbar -->
    <section id="navbar">

        <div class="navbar__logo">
            <a href="main.html">GLO;</a>
        </div>

        <ul class="navbar__menu">
            <li class="navbar__menu__item">
                <a href="chat.html">GLO;와 대화</a>
            </li>
            <li class="navbar__menu__item">
                <a href="survey.html">우울증 진단</a>
            </li>
            <li class="navbar__menu__item">
                <a href="reco.html">기분 전환</a>
            </li>
        </ul>

        <div class="navbar__btns">
            <button class="navbar__btn__login">
                <a href="login.html">Login</a>
            </button>
            <button class="navbar__btn__signup">
                <a class="signup__btn" href="signup.html">Sign up</a>
            </button>
        </div>

        <button class="navbar__toggle__btn">
            <i class="fas fa-bars"></i>
        </button>

    </section>

    <!-- survey -->


    <section id="survey">

        <div class="section__container">

            <h1 class="survey__title">설문조사를 통해 나를 확인해보세요</h1>

            <form class="survey__form" action="">

                <table class="form__table">

                    <caption>
                        <h3 class="caption__title">성인 우울척도 (CES-D)</h3>
                    </caption>

                    <colgroup>
                        <col width="8%">
                        <col width="*">
                        <col width="8%">
                        <col width="8%">
                        <col width="8%">
                        <col width="8%">
                        <col width="8%">
                    </colgroup>

                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>문항</th>
                            <th>매우<br>그렇다</th>
                            <th>그렇다</th>
                            <th>아니다</th>
                            <th>매우<br>아니다</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>1</td>
                            <td class="table__question">평소에는 아무렇지도 않던 일들이 괴롭고 귀찮게 느껴졌다. </td>
                            <td>
                                <label for="c1_1">
                                    <input type="radio" name="c1" id="c1_1" value="0">
                                </label>
                            </td>
                            <td>
                                <label for="c1_2">
                                    <input type="radio" name="c1" id="c1_2" value="1">
                                </label>
                            </td>
                            <td>
                                <label for="c1_3">
                                    <input type="radio" name="c1" id="c1_3" value="2">
                                </label>
                            </td>
                            <td>
                                <label for="c1_4">
                                    <input type="radio" name="c1" id="c1_4" value="3">
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td class="table__question">먹고 싶지 않고 식욕이 없었다. </td>
                            <td>
                                <label for="c2_1">
                                    <input type="radio" name="c2" id="c2_1" value="0">
                                </label>
                            </td>
                            <td>
                                <label for="c2_2">
                                    <input type="radio" name="c2" id="c2_2" value="1">
                                </label>
                            </td>
                            <td>
                                <label for="c2_3">
                                    <input type="radio" name="c2" id="c2_3" value="2">
                                </label>
                            </td>
                            <td>
                                <label for="c2_4">
                                    <input type="radio" name="c2" id="c2_4" value="3">
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td class="table__question">어느 누가 도와준다 하더라도 나의 울적한 기분을 떨쳐버릴 수 없을 것 같았다.</td>
                            <td>
                                <label for="c3_1">
                                    <input type="radio" name="c3" id="c3_1" value="0">
                                </label>
                            </td>
                            <td>
                                <label for="c3_2">
                                    <input type="radio" name="c3" id="c3_2" value="1">
                                </label>
                            </td>
                            <td>
                                <label for="c3_3">
                                    <input type="radio" name="c3" id="c3_3" value="2">
                                </label>
                            </td>
                            <td>
                                <label for="c3_4">
                                    <input type="radio" name="c3" id="c3_4" value="3">
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td class="table__question">무슨 일을 하든 정신을 집중하기가 힘들었다. </td>
                            <td>
                                <label for="c4_1">
                                    <input type="radio" name="c4" id="c4_1" value="0">
                                </label>
                            </td>
                            <td>
                                <label for="c4_2">
                                    <input type="radio" name="c4" id="c4_2" value="1">
                                </label>
                            </td>
                            <td>
                                <label for="c4_3">
                                    <input type="radio" name="c4" id="c4_3" value="2">
                                </label>
                            </td>
                            <td>
                                <label for="c4_4">
                                    <input type="radio" name="c4" id="c4_4" value="3">
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td class="table__question">비교적 잘 지냈다.</td>
                            <td>
                                <label for="c5_1">
                                    <input type="radio" name="c5" id="c5_1" value="3">
                                </label>
                            </td>
                            <td>
                                <label for="c5_2">
                                    <input type="radio" name="c5" id="c5_2" value="2">
                                </label>
                            </td>
                            <td>
                                <label for="c5_3">
                                    <input type="radio" name="c5" id="c5_3" value="1">
                                </label>
                            </td>
                            <td>
                                <label for="c5_4">
                                    <input type="radio" name="c5" id="c5_4" value="0">
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td class="table__question">상당히 우울했다.</td>
                            <td>
                                <label for="c6_1">
                                    <input type="radio" name="c6" id="c6_1" value="0">
                                </label>
                            </td>
                            <td>
                                <label for="c6_2">
                                    <input type="radio" name="c6" id="c6_2" value="1">
                                </label>
                            </td>
                            <td>
                                <label for="c6_3">
                                    <input type="radio" name="c6" id="c6_3" value="2">
                                </label>
                            </td>
                            <td>
                                <label for="c6_4">
                                    <input type="radio" name="c6" id="c6_4" value="3">
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td class="table__question">모든 일들이 힘들게 느껴졌다. </td>
                            <td>
                                <label for="c7_1">
                                    <input type="radio" name="c7" id="c7_1" value="0">
                                </label>
                            </td>
                            <td>
                                <label for="c7_2">
                                    <input type="radio" name="c7" id="c7_2" value="1">
                                </label>
                            </td>
                            <td>
                                <label for="c7_3">
                                    <input type="radio" name="c7" id="c7_3" value="2">
                                </label>
                            </td>
                            <td>
                                <label for="c7_4">
                                    <input type="radio" name="c7" id="c7_4" value="3">
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td class="table__question">앞일이 암담하게 느껴졌다. </td>
                            <td>
                                <label for="c8_1">
                                    <input type="radio" name="c8" id="c8_1" value="0">
                                </label>
                            </td>
                            <td>
                                <label for="c8_2">
                                    <input type="radio" name="c8" id="c8_2" value="1">
                                </label>
                            </td>
                            <td>
                                <label for="c8_3">
                                    <input type="radio" name="c8" id="c8_3" value="2">
                                </label>
                            </td>
                            <td>
                                <label for="c8_4">
                                    <input type="radio" name="c8" id="c8_4" value="3">
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td class="table__question">지금까지의 내 인생은 실패작이라는 생각이 들었다. </td>
                            <td>
                                <label for="c9_1">
                                    <input type="radio" name="c9" id="c9_1" value="0">
                                </label>
                            </td>
                            <td>
                                <label for="c9_2">
                                    <input type="radio" name="c9" id="c9_2" value="1">
                                </label>
                            </td>
                            <td>
                                <label for="c9_3">
                                    <input type="radio" name="c9" id="c9_3" value="2">
                                </label>
                            </td>
                            <td>
                                <label for="c9_4">
                                    <input type="radio" name="c9" id="c9_4" value="3">
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td class="table__question">적어도 보통 사람들만큼의 능력은 있었다고 생각한다. </td>
                            <td>
                                <label for="c10_1">
                                    <input type="radio" name="c10" id="c10_1" value="3">
                                </label>
                            </td>
                            <td>
                                <label for="c10_2">
                                    <input type="radio" name="c10" id="c10_2" value="2">
                                </label>
                            </td>
                            <td>
                                <label for="c10_3">
                                    <input type="radio" name="c10" id="c10_3" value="1">
                                </label>
                            </td>
                            <td>
                                <label for="c10_4">
                                    <input type="radio" name="c10" id="c10_4" value="0">
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td class="table__question">잠을 설쳤다. </td>
                            <td>
                                <label for="c11_1">
                                    <input type="radio" name="c11" id="c11_1" value="0">
                                </label>
                            </td>
                            <td>
                                <label for="c11_2">
                                    <input type="radio" name="c11" id="c11_2" value="1">
                                </label>
                            </td>
                            <td>
                                <label for="c11_3">
                                    <input type="radio" name="c11" id="c11_3" value="2">
                                </label>
                            </td>
                            <td>
                                <label for="c11_4">
                                    <input type="radio" name="c11" id="c11_4" value="3">
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td class="table__question">두려움을 느꼈다.</td>
                            <td>
                                <label for="c12_1">
                                    <input type="radio" name="c12" id="c12_1" value="0">
                                </label>
                            </td>
                            <td>
                                <label for="c12_2">
                                    <input type="radio" name="c12" id="c12_2" value="1">
                                </label>
                            </td>
                            <td>
                                <label for="c12_3">
                                    <input type="radio" name="c12" id="c12_3" value="2">
                                </label>
                            </td>
                            <td>
                                <label for="c12_4">
                                    <input type="radio" name="c12" id="c12_4" value="3">
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td class="table__question">평소에 비해 말수가 적었다. </td>
                            <td>
                                <label for="c13_1">
                                    <input type="radio" name="c13" id="c13_1" value="0">
                                </label>
                            </td>
                            <td>
                                <label for="c13_2">
                                    <input type="radio" name="c13" id="c13_2" value="1">
                                </label>
                            </td>
                            <td>
                                <label for="c13_3">
                                    <input type="radio" name="c13" id="c13_3" value="2">
                                </label>
                            </td>
                            <td>
                                <label for="c13_4">
                                    <input type="radio" name="c13" id="c13_4" value="3">
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>14</td>
                            <td class="table__question">세상에 홀로 있는 듯한 외로움을 느꼈다. </td>
                            <td>
                                <label for="c14_1">
                                    <input type="radio" name="c14" id="c14_1" value="0">
                                </label>
                            </td>
                            <td>
                                <label for="c14_2">
                                    <input type="radio" name="c14" id="c14_2" value="1">
                                </label>
                            </td>
                            <td>
                                <label for="c14_3">
                                    <input type="radio" name="c14" id="c14_3" value="2">
                                </label>
                            </td>
                            <td>
                                <label for="c14_4">
                                    <input type="radio" name="c14" id="c14_4" value="3">
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td class="table__question">큰 불만 없이 생활했다. </td>
                            <td>
                                <label for="c15_1">
                                    <input type="radio" name="c15" id="c15_1" value="3">
                                </label>
                            </td>
                            <td>
                                <label for="c15_2">
                                    <input type="radio" name="c15" id="c15_2" value="2">
                                </label>
                            </td>
                            <td>
                                <label for="c15_3">
                                    <input type="radio" name="c15" id="c15_3" value="1">
                                </label>
                            </td>
                            <td>
                                <label for="c15_4">
                                    <input type="radio" name="c15" id="c15_4" value="0">
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>16</td>
                            <td class="table__question">사람들이 나에게 차갑게 대하는 것 같았다.</td>
                            <td>
                                <label for="c16_1">
                                    <input type="radio" name="c16" id="c16_1" value="0">
                                </label>
                            </td>
                            <td>
                                <label for="c16_2">
                                    <input type="radio" name="c16" id="c16_2" value="1">
                                </label>
                            </td>
                            <td>
                                <label for="c16_3">
                                    <input type="radio" name="c16" id="c16_3" value="2">
                                </label>
                            </td>
                            <td>
                                <label for="c16_4">
                                    <input type="radio" name="c16" id="c16_4" value="3">
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>17</td>
                            <td class="table__question">갑자기 울음이 나왔다.</td>
                            <td>
                                <label for="c17_1">
                                    <input type="radio" name="c17" id="c17_1" value="0">
                                </label>
                            </td>
                            <td>
                                <label for="c17_2">
                                    <input type="radio" name="c17" id="c17_2" value="1">
                                </label>
                            </td>
                            <td>
                                <label for="c17_3">
                                    <input type="radio" name="c17" id="c17_3" value="2">
                                </label>
                            </td>
                            <td>
                                <label for="c17_4">
                                    <input type="radio" name="c17" id="c17_4" value="3">
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>18</td>
                            <td class="table__question">마음이 슬펐다.</td>
                            <td>
                                <label for="c18_1">
                                    <input type="radio" name="c18" id="c18_1" value="0">
                                </label>
                            </td>
                            <td>
                                <label for="c18_2">
                                    <input type="radio" name="c18" id="c18_2" value="1">
                                </label>
                            </td>
                            <td>
                                <label for="c18_3">
                                    <input type="radio" name="c18" id="c18_3" value="2">
                                </label>
                            </td>
                            <td>
                                <label for="c18_4">
                                    <input type="radio" name="c18" id="c18_4" value="3">
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>19</td>
                            <td class="table__question">사람들이 나를 싫어하는 것 같았다.</td>
                            <td>
                                <label for="c19_1">
                                    <input type="radio" name="c19" id="c19_1" value="0">
                                </label>
                            </td>
                            <td>
                                <label for="c19_2">
                                    <input type="radio" name="c19" id="c19_2" value="1">
                                </label>
                            </td>
                            <td>
                                <label for="c19_3">
                                    <input type="radio" name="c19" id="c19_3" value="2">
                                </label>
                            </td>
                            <td>
                                <label for="c19_4">
                                    <input type="radio" name="c19" id="c19_4" value="3">
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>20</td>
                            <td class="table__question">도무지 무엇을 해 나갈 엄두가 나지 않았다.</td>
                            <td>
                                <label for="c20_1">
                                    <input type="radio" name="c20" id="c20_1" value="0">
                                </label>
                            </td>
                            <td>
                                <label for="c20_2">
                                    <input type="radio" name="c20" id="c20_2" value="1">
                                </label>
                            </td>
                            <td>
                                <label for="c20_3">
                                    <input type="radio" name="c20" id="c20_3" value="2">
                                </label>
                            </td>
                            <td>
                                <label for="c20_4">
                                    <input type="radio" name="c20" id="c20_4" value="3">
                                </label>
                            </td>
                        </tr>
                    </tbody>

                </table>

                <span class="c4style_bx">출처 - 조맹제, 김계희(1993). 주요 우울증 환자 예비평가에서 the Center for Epidemiologic Studies Depression Scale (CEW-D)진단적 타당성 연구</span>
                <p class="c4style_btn"><input type="submit" value="결과보기" class="bButton"></p>
            
            </form>            

        </div>

    </section>

    <script src="../js/navbar.js" defer></script>
    <script src="https://kit.fontawesome.com/6478f529f2.js" crossorigin="anonymous"></script>

</body>
</html>